


{% extends 'user/base.html' %}

{% block content %}

<div class="col-sm-10">
<h2 class="text-danger my-5">  Add post </h2>

 <div> <h3> Welcome !! {{request.user}}</h3></div>
<form action="" method="POST" novalidate>
{% csrf_token %}
<div class="form-group">
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    

  </div>
 
    <input type='hidden' name='user' value='{{ request.user.id }}'>
<input value="Add" type="submit" class="btn btn-success">
<a href={% url 'l' %}  class="btn btn-danger"> Cancel<a/>

</form>


</div>
  


{% endblock content %} 
